.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  .bottom {
    @media screen and (min-width: 1200px) {
      @include displayfunc(flex, baseline, null, null, left);
    }
  }

  .mail,
  .phone,
  .city {
    @include fontstyles(null, 400, 14px, 1.7, null);
    font-style: normal;
    display: block;
  }
}

.address {
  &__list {
    color: var(--address-color);
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 9px;

    &:focus,
    &:hover {
      color: var(--accent-text-color);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bottom {
  .logo {
    @include displayfunc(flex, null, center, null, null);
    @media screen and (min-width: 1200px) {
      @include displayfunc(flex, null, left, null, null);
    }
    &__down {
      color: var(--accent-color);
    }
    &__footer {
      color: var(--accent-text-color);
      margin-bottom: 20px;
    }
  }
}

.connect {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.title__connect,
.title__online {
  @include fontstyles(var(--accent-color), 700, 14px, 1.2, 0.03em);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.team-social__list {
  margin-bottom: 60px;
}

.footer-social__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link {
  width: 100%;
  height: 100%;
  @include displayfunc(flex, center, center, null, null);
  border-radius: 50%;
  transition: background-color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--footer-social-link-color);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }

  &:hover .footer-social__icon,
  &:focus .footer-social__icon {
    fill: var(--accent-color);
  }
}

.footer-social {
  &__item + &__item {
    margin-left: 10px;
  }
}

.footer-social__icon {
  fill: var(--accent-color);
  transition: fill var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
