.portfolio {
  padding-top: 40px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  &__list {
    width: 100%;
    margin-top: -30px;
    margin-left: -30px;
    @include displayfunc(flex, null, null, wrap, null);
    padding-left: 0;
    padding-right: 0;
    transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    // height: 440px;
    margin-top: 30px;
    margin-left: 30px;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
      // height: 404px;
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 3 - 30px);
      // height: 440px;
    }
    transition: color var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.project__wrap {
  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 var(--button-shadow);
  }
}

.project__wrap {
  display: block;
  transition: box-shadow var(--time-duration) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .project__top-text,
  &:focus .project__top-text {
    transform: translateY(0);
  }
}

.project__item-wrap {
  position: relative;
  overflow: hidden;
  // height: 294px;
}

.project__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  @include fontstyles(var(--accent-color), null, 18px, 1.55, 0.03em);
  background-color: var(--top-box-color);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--time-duration);
}
