.team {
  background-color: var(--background-color);
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  &__dev-team {
    @include fontstyles(var(--title-text-color), 700, 28px, 1.16, 0.03em);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      @include fontstyles(var(--title-text-color), 700, 36px, 1.16, 0.03em);
      margin-bottom: 50px;
    }
  }
}

.employees {
  &__list {
    width: 100%;
    margin-bottom: -30px;
    margin-right: -30px;
    @include displayfunc(flex, null, center, wrap, null);
  }

  &__item {
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 var(--button-shadow);
    overflow: hidden;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
    }
  }
}
