:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --background-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --background-hero: #2f303a;
  --address-color: #c4c4c4;
  --logo-color: #000000;
  --header-border: #ececec;
  --address-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --button-shadow: rgba(0, 0, 0, 0.25);
  --footer-social-link-color: rgba(255, 255, 255, 0.1);
  --input-form-border: rgba(33, 33, 33, 0.2);
  --time-duration: 500ms;
  --features-background-color: rgba(47, 48, 58, 0.8);
  --top-box-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --online-input-form-border: rgba(255, 255, 255, 0.3);
}
